# Travefy Proxy Environment Variables

# Porta locale (default: 3000)
PORT=3000

# Credenziali Travefy (Opzionali - valori di default nel codice se non settati)
TRAVEFY_BASE_URL=https://api.travefy.com
TRAVEFY_PUBLIC_KEY=public_key
TRAVEFY_PRIVATE_KEY=private_key
TRAVEFY_USER_TOKEN=user_token
TRAVEFY_USER_ID=user_id

# Segreto condiviso tra Monday.com e il proxy per autorizzare le chiamate
# Da inserire negli header come 'Authorization: Bearer <il_tuo_segreto>'
PROXY_SECRET_TOKEN=secre_token
