# Travefy Proxy Environment Variables

# Porta locale (default: 3000)
PORT=3000

# Credenziali Travefy (Opzionali - valori di default nel codice se non settati)
TRAVEFY_BASE_URL=https://api.travefy.com

# Optionals
TRAVEFY_PUBLIC_KEY=
TRAVEFY_PRIVATE_KEY=
TRAVEFY_USER_TOKEN=

# Segreto condiviso tra Monday.com e il proxy per autorizzare le chiamate
# Da inserire negli header come 'Authorization: Bearer <il_tuo_segreto>'
PROXY_SECRET_TOKEN=secret_token
